.searchInner {
    display: flex;
    gap: 30px;
    width: 100%;
    max-width: 560px;
}

.searchInner input {
    border-radius: 20px;
    height: 40px;
    border: none;
    width: 100%;
    padding-left: 16px;
    background-color: var(--search-input-bg, #ffffff);
    color: #000;
}

.searchInner button {
    border-radius: 20px;
    border: none;
    background-color: #2563eb;
    padding: 8px 16px;
    font-size: 16px;
}
