.searchPage {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 30px;
    min-width: 500px;
    color: inherit;
}

.searchPage h2 {
    margin: 0;
    font-size: 24px;
    font-weight: 600;
}

.searchPage p {
    margin: 0;
    font-size: 13px;
    color: #4b5563;

}

.searchPage {
    --search-input-bg: #f3f5f8;
}

.movieItemsContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    align-items: center;
}