.container {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.backdrop {
    width: 100vw;
    min-height: 700px;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 50vw);

    display: flex;
    align-items: center;

}

.search {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    gap: 30px;
    flex-direction: column;
    color: #ffffff;
    min-width: 500px;
}

.search h1 {
    text-transform: uppercase;
    font-size: 48px;
    font-weight: 800;
    margin: 0;
}

.search h2 {
    margin: 0;
    font-size: 24px;
    font-weight: 600;
}

.search input {
    border-radius: 20px;
    height: 40px;
    border: none;
    width: 100%;
    padding-left: 16px;
}


