.container {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.backdrop {
    width: 100vw;
    min-height: 700px;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 50vw);
}

