.container {
    margin: 0 auto;
}

.items {
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
}

.movieContainer {
    height: 330px;
    width: 180px;
    text-align: center;
    font-weight: bold;

}

.poster {
    width: 180px;
    height: 270px;
    border-radius: 20px;
}