.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 24px;
  min-width: 500px;
}

.container h2,
.container p {
  margin: 0;
}

.items {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}
